.para_title {
  font-size: 21px;
  font-family: 'Open Sans',sans-serif;
}
.para_block {
  font-size: 13px;
  font-family: 'Open Sans',sans-serif;
  width: 300px;
}
.para_block input {
  margin: 0px auto 4px auto;
  padding: 5px;
  border: 0px;
  width: 250px;
}
.para_block .button {
  height: 26px;
  width: 150px;
  padding: 0px;
}
.para_block_2 {
  width: 380px;
}
.para_block_2 input {
  display: block;
  height: 16px;
}
#msg_login_fail {
  display: none;
}
.para_block_3 {
  width: 260px;
  text-align: right;
}
.map {
  padding-top: 40px;
}
